/* Base styles */
body {
    font-family: Helvetica, Arial, sans-serif;
    color: #473144;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: 'Lora', serif;
    color: #AF1B3F;
}

a {
    color: #AF1B3F;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header */
header {
    text-align: center;
    padding: 1rem;
}

.main-nav {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  justify-content: end;
  justify-items: end;
  list-style: none;
  padding: 0;
  margin: 1rem auto;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  max-width: 600px;
}

.main-nav li {
  padding: 0.5rem;
  font-size: 1.1rem;
}

.content-layout{
  display:grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}

#articles-container article{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  border-bottom: 1px solid #ddd;
  padding: 1rem 0;
}

.details {
  font-size: 1rem;
  color: #555;
}

.details time {
  font-weight: bold;
  display: block;
  font-size: 1.1rem;
}

.content h2 {
  color: #AF1B3F;
  font-family: 'Lora', serif;
  margin: 0;
}

.content img {
  max-width: 100%;
  height: auto;
  margin: 0.5rem 0;
}



footer {
    text-align: center;
    padding: 1rem;
    background-color: #EFC69B;
    color: #473144;
}